@import '~bpk-mixins';

.FlightLeg {
    margin: 0 0 15px 0;
    background: #fff;
    display: flex;
    justify-content: space-between;

    &__parent-container {
        background: #fff;
        border-radius: 10px;
        padding: 10px;
        margin: 15px 0px 15px 0px;
    }

    &__origin-details, 
    &__destination-details {
        p {
            margin: 0;
            font-size: 14px;
            line-height: normal;

            &:first-child {
                margin: 0 0 10px;
            }
        }
    }

    &__origin-details {
        margin-right: 15px;
    }

    &__duration-details {
        p {
            font-size: 12px;
            margin: 0;
            line-height: normal;

            &:first-child {
                margin: 0 0 10px;
            }
        }

        &__stops_text {
            color: #00ca6e;
            font-weight: bold;
        }
    }

    &__OND {
        &-container {
            display: flex;
            flex-direction: row;
        }
        &-icon {
            margin: 5px 15px 0 0;
        }
        &-right-icon {
            margin-right: 15px; 
        }
        &-carrier-image {
            width: 60px;
            height: 30px;
        }
    }

    &__footer-details{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &-amount {
            p {
                margin: 0;
                line-height: normal;
                &:first-child {
                    margin-bottom: 5px;
                    font-size: 20px;
                }
            }
        }

        button {
            padding: 6px 31px;
            background: #00ca6e;
            border-radius: 25px;
            color: #fff;
            border: 0;
            font-weight: bold;
            height: 35px;
            font-size: 14px;
        }
    }
}