@import '~bpk-mixins';

.App {
  position: relative;
  height: 100vh;
  &__main {
    padding: 0 10px;
  }

  &__load_more {

    text-align: center;

    button {
      padding: 5px 30px;
      background: #00b2d6;
      color: #fff;
      border: 0;
      font-weight: 700;
      height: 35px;
      font-size: 1rem;
      margin-bottom: 8px;
      top: 50%;
      position: relative;
      cursor: pointer;
  
      .loader.App__loader {
        border: 2px solid #fff;
        border-top: 2px solid #fff;
        width: 1rem;
        height: 1rem;
        top: 505;
        top: 30%;
        left: 10%;
      }
    }
  }

  .load-container {
    display: inline-block;
    width: 2.2rem;
    height: 100%;
    margin: 0 0 0 auto;

    .loader.App__loader {
      width: 1.5rem;
      height: 1.5rem;
      margin: 12px 0;
    }
  }
}
