@import '~bpk-mixins';

.FlightsAction {
    display: flex;
    justify-content: space-between;
    color: #00b2d6;
    margin: 0 0 10px 0;

    &__filter-section {
        span {
            margin: 0 35px 0 5px;
            font-weight: 600;
        }
    }

    &__alert-image {
      height: $bpk-spacing-base;
      vertical-align: top;
      height: 18px;
      width: 18px;
      margin-right: 5px;
    }
}