.load-container {
    .loader {
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-indent: -9999em;
      background: transparent;
      border: 2px solid #7bc7d6;
      border-top: 2px solid #00b2d6;
      border-radius: 50%;
      animation: load3 0.5s infinite linear;
    }
  
    @-webkit-keyframes load3 {
      0% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: rotate(360deg);
      }
    }
  
    @keyframes load3 {
      0% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: rotate(360deg);
      }
    }
  }